{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "multiagent-social.fullname" . }}-ingress
spec:
  tls:
  {{- if .Values.ingress.tls }}
  - hosts:
    {{- range .Values.ingress.hosts }}
    - {{ . }}
    {{- end }}
    secretName: {{ .Values.ingress.tlsSecret }}
  {{- end }}
  rules:
  {{- range .Values.ingress.hosts }}
  - host: {{ . }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ include "multiagent-social.fullname" . }}
            port:
              number: {{ $.Values.service.port }}
  {{- end }}
{{- end }}

