name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.24.11
      - name: Install linters
        run: |
          go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.59.0
      - name: Run tests
        run: go test ./...
      - name: Run linter
        run: golangci-lint run ./...

